<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>User Profile</title>
</head>

<body class="min-h-screen p-5 bg-black/50">
    <div class="flex justify-center mb-4">
        <div class="bg-white p-2 rounded-xl shadow-lg w-full max-w-md text-center bg-blue-600">
            <img src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8dXNlcnxlbnwwfHwwfHx8MA%3D%3D" alt="Profile Picture"
                class="w-32 h-32 mx-auto rounded-full border-4 border-blue-500">
            <h2 class="text-2xl font-bold text-gray-700 mt-4"><%= user.username %></h2>
            <p class="text-gray-500"><%= user.fullname %></p>
            <p class="text-gray-600"><%= user.email %></p>
            <div class="mt-4">
                <a href="/logout" class="text-black text-lg bg-red-400 px-6 py-2 rounded-xl scale-105">Logout</a>
            </div>
            <form action="/upload" method="post" enctype="multipart/form-data">
                <input type="file" name="file">
                <input type="text" name="filecaption"  placeholder="enter file caption" class="border-1 border-black">
                <input type="submit" name="" class="bg-green-400 px-4 py-2 rounded-xl">
            </form>
        </div>
    </div>

    <!-- src="https://images.unsplash.com/photo-1743076851851-0762b336b56d?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwyfHx8ZW58MHx8fHx8" -->
   
    <div class="flex justify-start gap-4">
        <%  user.posts.forEach(function(post){ %>
        <div class="rounded-xl shadow-lg w-[20%] bg-green-400 h-min p-2">
            <img
             src="/images/uploads/<%=post.image%>"
             alt="Port Image" class="w-full h-60 rounded-lg shadow-md bg-red-400">
            
            <p class="text-gray-500"><%= post.postcaption %></p>
        </div>
        <% }) %>
    </div>
   
</body>

</html>